body {
    background-color: lightgray;
    margin-bottom: 55px;
}

h1 {
    font-weight: bold;
}

h2 {
    color: rgba(60, 60, 60, 1);
    font-weight: bold;
}

h4 {
    font-weight: bold;
    color: rgba(60, 60, 60, 1);
}

p {
    color: rgba(60, 60, 60, 1);
    font-size: 12px;
}

.jumbotron {
    background-color: goldenrod;
    background: -webkit-linear-gradient( left top, orange, yellow);
}

.footer {
    bottom: 0;
    top: auto;    
}

.form-control {
    width: 300px;
}